.history-page {
    background-color: #261F32;
    min-height: 100vh;
    padding: 1.3rem;
    padding-left: 8rem;
    padding-right: 8rem;
    font-family: 'Montserrat', sans-serif;
}

.filter-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.filter-btn {
    background-color: #463678;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
}

.ride-card-container {
    background-color: #6E58C630; 
    border-radius: 15px;
    display: flex;
    justify-content: space-between; 
    margin-bottom: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.left-section {
    flex: 1; }

.right-section {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}