<div class="forgot-password-bg">
  <div class="forgot-password-layout">
    <div class="illustration">
      <img src="/illustrations/illustration_1_v2.png" alt="illustration" />
    </div>

    <div class="forgot-password-card">
      <h1>Forgot password?</h1>
      <p>Please enter your email to reset the password, we will sent you a verification code.</p>

      <form [formGroup]="forgotPasswordForm" (ngSubmit)="verifyEmail()">
        <label>
          Email
          <input type="email" formControlName="email" placeholder="Enter your email" />
          @if (email.touched && email.invalid){
            <div
              class="error">
              Email is required
            </div>
          } 
        </label>
        <div class="button-container">
          <button type="submit">Continue</button>
        </div>
      </form>
    </div>
  </div>
</div>

