.review-container {
  background-color: #2b273d;
  color: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  position: relative;
  border: 1px solid #4a3f75;
}

.close-x {
  position: absolute;
  right: 15px;
  top: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
}

.title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 0 20px;
  line-height: 1.3;
}

.stars-row {
  font-size: 35px;
  color: #4a3f75;
  margin-bottom: 20px;
  cursor: pointer;
}

.stars-row span.active {
  color: #C8E261;
}

.review-input {
  width: 90%;
  height: 8rem;
  background-color: #c9ccd5;
  border-radius: 25px;
  border: none;
  padding: 1.3rem 1rem;
  margin-bottom: 25px;
  font-family: inherit;
  resize: none;
}

.send-btn {
  background-color: #4a3f75;
  color: white;
  border: none;
  padding: 12px 60px;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
}