/* GLOBAL LAYOUT */
.profile-page {
  display: flex;
  gap: 30px;
  min-height: 100vh;
  background-color: #261F32;
  color: white;
  padding: 30px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profile-card {
  width: 30%;
  background-color: rgba(110, 88, 198, 0.3); 
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.avatar-wrapper {
  position: relative;
  align-self: center;
  margin-bottom: 20px;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-add {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: #6b5ce7;
  border: none;
  border-radius: 50%;
  color: white;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.field {
  margin-bottom: 5px;
}

.field label {
  font-size: 13px;
  color: #b8b4d8;
}

.field-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  color: white;
  font-size: 16px;
  padding: 4px 0;
  width: 100%;
  outline: none;
}

input.editing {
  border-bottom: 1px solid #7c6ae6;
}

.unsaved-msg {
  color: #ef4444; 
  font-size: 12px;
  margin-top: 4px;
  text-align: right;
}

.icon-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.icon-img { width: 18px; height: 18px;}

.bottom-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.change-password-btn {
  margin-top: 30px;
  background: #6b5ce7;
  border: none;
  color: white;
  padding: 10px 16px;
  border-radius: 20px;
  cursor: pointer;
  width: 150px;
}

.save-btn {
  margin-top: 30px;
  background: transparent;
  border: 1px solid #555;
  color: #777;
  padding: 10px 16px;
  border-radius: 20px;
  font-size: 14px;
  cursor: not-allowed;
  transition: 0.3s;
}

.save-btn.active {
  background: rgba(239, 68, 68, 0.15);
  border: 1px solid #ef4444;
  color: #ef4444;
  cursor: pointer;
}
.save-btn.active:hover {
  background: #ef4444;
  color: white;
}

.right-panel {
  flex: 1;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-card {
  background-color:  rgba(110, 88, 198, 0.3);
  border-radius: 16px;
  padding: 25px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.timer-card {
  background: linear-gradient(to left, #261f32,  rgba(110, 88, 198, 0.3));;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
}
.timer-label { color: #ccc; }
.timer-value { font-weight: bold; color: white; }

.vehicle-card h3 {
  margin: 0 0 20px 0;
  font-size: 18px;
  font-weight: 600;
}

.vehicle-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.v-item label {
  display: block;
  font-size: 12px;
  color: #a09cb0;
  margin-bottom: 4px;
}
.v-value {
  font-size: 16px;
  font-weight: bold;
}

.notes-section h3 {
  margin: 10px 0 15px 0;
  font-size: 18px;
}

.notes-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.note-card {
  background-color:  rgba(110, 88, 198, 0.3);
  padding: 20px;
  border-radius: 12px;
  min-width: 200px;
  flex: 1;
  font-size: 14px;
  line-height: 1.5;
  color: #e0e0e0;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

@media (max-width: 900px) {
  .profile-page {
    flex-direction: column;
    align-items: center;
  }
  .profile-card, .right-panel {
    width: 100%;
  }
  .notes-container {
    flex-direction: column;
  }
}