<div class="page">
  <div class="topbar">
    <button class="back-btn" type="button" aria-label="Back">
      ←
    </button>
    <h1 class="title">Rides history</h1>
  </div>
  
    <form [formGroup]="filterForm">
        <div class="filters">
            <div class="date-box">
                <label class="date-label">Created from</label>
                <input class="date-input" type="date" formControlName = "filterFrom" />
            </div>

            <div class="date-box">
            <label class="date-label">Created to</label>
            <input class="date-input" type="date"  formControlName = "filterTo"/>
            </div>

            <button class="search-btn" type="button" (click) = "search()">
                Search
            </button>
            <button class = "reset-btn" type = "button" (click)="reset()">
                Reset
            </button>
        </div>
    </form>

  <div class="table-container">
    <table class="rides-table">
      <thead>
        <tr>
          <th>
            <div class="th-content">
              <span>Pickup address</span>
              <button class="sort-btn" type="button" (click)="sortPickupAddress()" aria-label="Sort pickup">
                ⇅
              </button>
            </div>
          </th>

          <th>
            <div class="th-content">
              <span>Destination address</span>
              <button class="sort-btn" type="button" (click)="sortDestinationAddress()" aria-label="Sort destination">
                ⇅
              </button>
            </div>
          </th>

          <th>
            <div class="th-content">
              <span>Start time</span>
              <button class="sort-btn" type="button" (click)="sortStartedAt()" aria-label="Sort start time">
                ⇅
              </button>
            </div>
          </th>

          <th>
            <div class="th-content">
              <span>End time</span>
              <button class="sort-btn" type="button" (click)="sortFinishedAt()" aria-label="Sort end time">
                ⇅
              </button>
            </div>
          </th>

          <th>
            <div class = "th-content">
                <span>Creation time</span>
                <button class = "sort-btn" type = "button" (click)="sortCreatedAt()" aria-label = "Sort creation time">
                    ⇅
                </button>
            </div>
          </th>
        

          <th>
            <div class="th-content">
              <span>Additional stops</span>
            </div>
          </th>
        </tr>
      </thead>

      <tbody>
          <tr *ngFor="let ride of rides">
            <td>{{ getPickup(ride) }}</td>
            <td>{{ getDestination(ride) }}</td>

            <td>{{ride.startedAt | date:'dd.MM.yyyy. HH:mm'  }}</td>
            <td>{{ride.finishedAt | date:'dd.MM.yyyy. HH:mm' }}</td>
            <td>{{ ride.createdAt | date:'dd.MM.yyyy. HH:mm' }}</td>

            <td>
              <div class="stops">
                <div class="stop" *ngFor="let rideStop of getAdditionalStops(ride)">{{ rideStop }}</div>
                <span *ngIf="getAdditionalStops(ride).length === 0">-</span>
              </div>
            </td>

            <td class="cell-actions">
              <div *ngIf="canRateRide(ride.finishedAt)" class="history-rate-actions">
                  <button class="rate-small-btn" (click)="openReview('driver', ride.rideId)">Rate Driver</button>
                  <button class="rate-small-btn" (click)="openReview('vehicle', ride.rideId)">Rate Vehicle</button>
              </div>
              
              <button class="view-btn" type="button" (click)="showMore(ride.rideId)">View more</button>
          </td>
          </tr>

          <tr *ngIf="rides.length === 0">
            <td colspan="7" >No rides found.</td>
          </tr>
        </tbody>
    </table>
  </div>
</div>

