.pricing-container {
  background-color: #261F32;
  max-width: 80rem;
  margin: 40px auto;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  height: 70%;
}

h2 {
  margin-bottom: 4rem;
  font-weight: 600;
  color: #C5B6FF;
  font-size: 2.5rem;
}

.price-card {
  background: #6E58C630;
  border-radius: 12px;
  padding: 20px 30px;
  margin-bottom: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.2s;
}

.price-card:hover {
  transform: translateY(-3px);
}

.price-card h3 {
  margin: 0;
  color: #C5B6FF;
  font-size: 1.2rem;
  width: 150px;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 15px;
  flex: 1;
}

.form-group label {
  font-size: 14px;
  color: whitesmoke;
}

.form-group input {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100px;
  outline: none;
  transition: border-color 0.2s;
}

.form-group input:focus {
  border-color: #6750a4;
}

button {
  background-color: #6750a4;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s;
}

button:hover {
  background-color: #5a4591;
}

.info-box {
  margin-top: 40px;
  padding: 15px;
  background-color: #a998c67d;
  border-left: 4px solid #6750a4;
  border-radius: 4px;
  color: whitesmoke;
  font-weight: 400;
  font-size: 1rem;
}

@media (max-width: 600px) {
  .price-card {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  
  .form-group {
    width: 100%;
    justify-content: space-between;
  }
}