<div class="main-container">
  
  <div class="info-panel">
    <app-driver-info 
      [driverName]="currentDriver.driverName" 
      [carModel]="currentDriver.carModel" 
      [rating]="currentDriver.rating"
      [profileImageUrl]="currentDriver.profileImageUrl"
      [isFinished]="currentDriver.isFinished"
      [rideId]="rideId"></app-driver-info>
    <button 
      class="panic-btn" *ngIf="!currentDriver.isFinished"
      (click)="openPanicDialog(rideId)">
      PANIC
    </button>
    <button 
      class="stop-btn" *ngIf="!currentDriver.isFinished"
      (click)="stopRide()">
      Stop ride 
    </button>


    <div class="timer-section">
      <app-timer-card *ngIf="!currentDriver.isFinished"
        [minutes]="minutesRemaining" 
        [progressValue]="progress">
      </app-timer-card>

      <app-timer-card *ngIf="currentDriver.isFinished"
        [minutes]="0" 
        [progressValue]="100"
        statusText="Arrived">
      </app-timer-card>
    </div>
    
    </div>

  <div class="map-container">
    <app-map 
      [pickupAddress]="pickupAddress" 
      [destinationAddress]="destinationAddress"
      [rideId]="rideId"
      (rideUpdate)="handleRideUpdate($event)"
    >
    </app-map>
  </div>

</div>