<!-- <div class="history-page">
    
    <div class="filter-container">
       <button class="filter-btn">Filter <img src="/icons/filter.png" alt="filter" class="filter-icon"></button>
    </div>

    <div class="ride-card-container" *ngFor="let ride of rides">
        
        <div class="left-section">
            <app-ride-info [ride]="ride" [isUpcoming]="!ride.isUpcoming"></app-ride-info>
        </div>

        <div class="right-section">
<app-passenger-info [passengers]="ride.passengers"></app-passenger-info>        </div>

    </div>
</div> -->