.navbar {
  height: 3.8rem;
  width:100%;
  background: #261F32;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  flex-wrap: wrap;
  border-bottom: #9086B9 0.1rem solid;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-right: 1.2rem;

}

.logo {
  font-size: 1.6rem;
  padding-left: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background: linear-gradient(180deg, #6E58C6 5%, #9588D7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
  margin-right: 2rem;
}

.logo:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #E8EDFC;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding-left: 2rem;
  opacity: 0.85;
  transition: opacity 0.2s ease;
}

a:hover {
  opacity: 1;
}

a.active {
  border-bottom: 2px solid #9588D7;
  padding-bottom: 4px;
}

.login-btn {
  padding: 0.5rem 1.2rem;
  border-radius: 1.2rem;
  background-color: #6c63ff;
  color: white;
  font-weight: 500;
}

.register-btn {
  padding: 0.5rem 1.2rem;
  border-radius: 1.2rem;
  border: 1px solid #6c63ff;
  color: #6c63ff;
}
