.notification-container {
  position: relative;
  display: inline-block;
  margin-right: 15px;
}

.bell-btn {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  font-size: 1.5rem;
  color: #E8EDFC;
}

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #ff4444;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.7rem;
  font-weight: bold;
}

/* Dropdown stilovi */
.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: 300px;
  max-height: 400px;
  background-color:#bfaee3;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  z-index: 1000;
  overflow-y: auto;
  color: #333; /* Reset text color za dropdown */
}

.dropdown-header {
  padding: 10px 15px;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  background-color: #bfaee3;
}

.notification-item {
  padding: 10px 15px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background 0.2s;
}

.notification-item:hover {
  background-color: #f0f0f0;
}

.notification-item.unread {
  background-color: #cfc9dd; 
  border-left: 4px solid #C8E261;
}

.notif-msg {
  margin: 0;
  font-size: 0.9rem;
}

.notif-time {
  font-size: 0.75rem;
  color: #333;
  display: block;
  margin-top: 4px;
}

.empty-state {
  padding: 20px;
  text-align: center;
  color: #333;
}

.bell-img-icon {
  margin-top: 0.3rem;
  width: 28px;
  height: 28px;
  transition: transform 0.2s;
}

.bell-btn:hover .bell-img-icon {
  transform: scale(1.1);
}