<body>
  <div class="login-bg">
    <div class="login-layout">
      <div class="illustration">
        <img src="/illustrations/illustration_1.png" alt="illustration" />
      </div>

      <div class="login-card">
        <h1>Login</h1>
        <label>
          Email
          <input type="email" placeholder="Enter your email" />
        </label>
        <label>
          Password
          <input type="password" placeholder="Enter your password" />
        </label>

        <a class="forgot" href="#">Forgot password?</a>
        <p class="signup">
          Don’t have an account? <span><a class="link" href="/register">Sign up</a></span>
        </p>
        <div class="button-container">
          <button>Login</button>
        </div>
      </div>
    </div>
  </div>
</body>
