<div class="change-password-bg">
  <div class="change-password-layout">
    <div class="illustration">
      <img src="/illustrations/illustration_1_v2.png" alt="illustration" />
    </div>

    <div class="change-password-card">
      <h1>Set a new password</h1>
      <p>Please enter your new password and confirm it to complete the reset.</p>

      <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <label>
          Password
          <input type="password" formControlName="password" placeholder="Enter new password" />
          @if (password.touched && password.invalid){
            <div
              class="error">
              Password is required
            </div>
          } 
        </label>

        <label>
          Confirm Password
          <input type="password" formControlName="repeatedPassword" placeholder="Confirm your password" />
          @if(repeatedPassword.touched && repeatedPassword.invalid){
            <div
            class="error">
            Password is required
          </div>
          }
          
        </label>

        <div class="button-container">
          <button type="submit">Change password</button>
        </div>
        
      </form>
    </div>
  </div>
</div>
