.report-container {
  background-color: #2b273d; 
  color: white;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid #463678;
  min-width: 20rem;
}

.header {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}

.close-btn {
  position: absolute;
  right: -10px;
  top: -10px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.report-input {
  width: 100%;
  height: 10rem;
  background-color: #c9ccd5;
  border-radius: 10px;
  border: none;
  padding: 1rem, 1rem;
  resize: none;
  color: #333;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.send-btn {
  background-color: #463678;
  color: white;
  border: none;
  padding: 10px 40px;
  border-radius: 20px;
  cursor: pointer;
}