.ride-card {
  border-radius: 15px;
  color: white;
  margin-bottom: 20px;
}

.ride-details-section {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
}

.route-info {
  flex: 1;
}

.status-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  text-align: right;
  min-width: 150px;
}

.status-alerts {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.alert {
  display: flex;
  align-items: center;
  color: #ff6b6b;
  font-weight: 500;
  font-size: 0.9rem;
  gap: 0.5rem;
}

.alert-tag.finished {color: #C8E261; font-size: 1.1rem; margin-top: 1.2rem;}
.alert-tag.active {color: #C5B6FF; background: rgba(55, 30, 78, 0.116);border: 1px solid #6E58C6; font-size: 1.1rem; margin-top: 1.2rem;}
.alert-tag.scheduled {color: #C5B6FF; font-size: 1.1rem; margin-top: 1.2rem;}
.alert-tag.stopped {color: #EA4A7A; font-size: 1.1rem; margin-top: 1.2rem;}

.alerts-container {
  width: 100%;
  margin-top: 10px;
}

.alert.finished {
  color: #C8E261; 
  margin-top: 2rem;
}

.alert.cancelled {
  color: #EA4A7A;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.locations {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.route-container {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-top: 15px;
}

.visual-track {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 0; 
  margin-top: 0.6rem
}

.dot.green {
  width: 10px;
  height: 10px;
  background-color: #a3cf62;
  border-radius: 50%;
  display: block;
}

.location-line {
  width: 0.1rem;
  height: 2.5rem;
  background-color: #7a7495;
  margin: 0;
}

.location-icon {
  width: 14px;
  height: 14px;
  object-fit: contain;
  margin: 0; 
}

.addresses {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 65px; 
}

.address-pill {
  background: #4a4466;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.price-tag {
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
    margin-top: 1.7rem;
}