.ride-card {
  border-radius: 15px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.ride-details-section {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
}

.route-info {
  flex: 1;
}

.status-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  text-align: right;
  min-width: 150px;
}

.price-tag {
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 15px;
}

.status-alerts {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.alert {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: #ff6b6b;
  font-weight: 500;
}

.alert.finished {
  color: #a3cf62; 
  margin-top: 2rem;
}

.alert.cancelled {
  color: #ff6b6b;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.locations {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.route-container {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-top: 15px;
}

.visual-track {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 0; 
}

.dot.green {
  width: 10px;
  height: 10px;
  background-color: #a3cf62;
  border-radius: 50%;
  display: block;
}

.location-line {
  width: 0.1rem;
  height: 2.5rem;
  background-color: #7a7495;
  margin: 0;
}

.location-icon {
  width: 14px;
  height: 14px;
  object-fit: contain;
  margin: 0; 
}

.addresses {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 65px; 
}

.address-pill {
  background: #4a4466;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 0.9rem;
}