<div class="ride-card" *ngIf="ride">
  <div class="ride-details-section">
    <div class="route-info">
      <h3>Ride details</h3>
      
      <p class="time-label" *ngIf="isDTO(ride)">
        {{ ride.displayTime | date:'dd.MM.yyyy. HH:mm' }}
      </p>
      <p class="time-label" *ngIf="!isDTO(ride)">
        {{ ride.date }} {{ ride.startTime }} till {{ ride.endTime }}
      </p>
      
      <div class="route-container">
        <div class="visual-track">
          <span class="dot green"></span>
          <div class="location-line"></div>
          <img src="/icons/location-icon.png" alt="destination" class="location-icon">
        </div>

        <div class="addresses">
          <div class="address-pill">{{ ride.startLocation }}</div>
          <div class="address-pill">{{ ride.endLocation }}</div>
        </div>
      </div>
    </div>

    <div class="status-container">
      <div class="price-tag">
        {{ isDTO(ride) ? ride.totalPrice : ride.price }} din
      </div>
      
      <div class="status-alerts">
        <ng-container *ngIf="isDTO(ride)">
            <div class="alert finished" *ngIf="ride.status === 'COMPLETED'">
                <span>Finished ✓</span>
            </div>
            <div class="alert active" *ngIf="ride.status === 'ACTIVE'">
                <span>In Progress...</span>
            </div>
        </ng-container>

        <ng-container *ngIf="!isDTO(ride)">
            <div class="alert finished" *ngIf="ride.status === 'Finished'">
                <span>Finished ✓</span>
            </div>
            </ng-container>
      </div>
    </div>
  </div>
</div>