<div class="change-password-bg">
    <div class="change-password-layout">
        <div class="illustration">
            <img src="/illustrations/illustration_1_v2.png" alt="illustration" />
        </div>

        <div class="change-password-card">
            <h1>Set a new password</h1>
            <p>Please enter your new password and confirm it to complete the reset.</p>

            <form [formGroup]="changeOldPasswordForm" (ngSubmit)="changePassword()">
                <label>
                    Current Password
                    <input type="password" formControlName="password" placeholder="Enter current password" />
                    @if (password.touched && password.invalid){
                    <div class="error">Current password is required</div>
                    }
                </label>

                <label>
                    New Password
                    <input type="password" formControlName="newPassword" placeholder="Enter new password" />
                    @if (newPassword.touched && newPassword.invalid){
                    <div class="error">
                        @if (newPassword.errors?.['required']) { Password is required }
                        @if (newPassword.errors?.['minlength']) { Must be at least 8 chars }
                    </div>
                    }
                </label>

                <label>
                    Confirm New Password
                    <input type="password" formControlName="confirmNewPassword" placeholder="Confirm your password" />
                    @if (repeatedPassword.touched && (repeatedPassword.invalid ||
                    changeOldPasswordForm.errors?.['passwordMismatch'])){
                    <div class="error">
                        @if (repeatedPassword.errors?.['required']) { Confirmation is required }
                        @if (changeOldPasswordForm.errors?.['passwordMismatch']) { Passwords do not match }
                    </div>
                    }
                </label>

                <div class="button-container">
                    <button type="submit" [disabled]="changeOldPasswordForm.invalid">Change password</button>
                </div>
            </form>
        </div>
    </div>
</div>