.main-container {
  margin: 0;
  background-color: #261f32;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.left-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 360px;
  flex: 0 0 360px;
  border-right: #9086b9 0.1rem solid;
}
.form-container {
  padding-top: 2px;
  padding-left: 15px;
}
.gradient-text {
  font-size: 30px;
  /* font-weight: bold; */
  background-image: linear-gradient(to right, #6e58c6, #c8e261, #c8e261);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.routeBlock {
  width: 320px;
  color: #ffffff;
}

/* icon + content */
.row {
  display: grid;
  grid-template-columns: 26px 1fr;
  column-gap: 7px;
  align-items: start;
}

.label {
  font-size: 18px;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  height: 38px;
  padding: 0 12px;
  border-radius: 8px;
  background: #261f32;
  border: 1px solid #c8e261;
  color: #f2effa;
  outline: none;
  box-sizing: border-box;
}

.input::placeholder {
  color: rgba(242, 239, 250, 0.55);
  font-size: 13px;
}

.icon {
  width: 14px;
  height: 14px;
  margin-top: 35px;
  justify-self: center;
}

/* filled dot (pickup) */
.dot {
  border-radius: 999px;
  background: #c8e261;
  box-shadow: 0 0 0 5px rgba(185, 255, 77, 0.1);
}

/* pin outline (destination) */
.pin {
  border-radius: 999px;
  border: 2px solid #c8e261;
  background: transparent;
  position: relative;
}

/* Vertical stem between icons */
.stem {
  width: 3px;
  height: 30px;
  margin: 6px 0 8px 12px;
  border-radius: 999px;
  background: #c8e261;
}
.search-button {
  margin-top: 30px;
  margin-left: 100px;
  width: 120px;
  height: 40px;
  border-radius: 8px;
  background-color: #6e58c6;
  color: white;
  font-size: 14px;
  border: 1px solid #6e58c6;
  font-family: 'Montserrat', sans-serif;
}
.error {
  color: red;
  font-size: 14px;
  margin-top: 8px;
}
.illustration-container {
  background: linear-gradient(to bottom, #261f32, #6e58c6);
  height: 100%;
}
.illustration-header {
  color: #c8e261;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}
p {
  color: white;
  text-align: center;
  font-size: 14px;
}
.illustration {
  display: flex;
  justify-content: center;
}
.illustration img {
  width: 100%;
  max-width: 250px;
}
.bottom-paragraphs {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
}
p {
  margin: 2px;
}
.right-container {
  flex: 1;
  height: 100%;
  position: relative;
  min-width: 0;
}
