body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

.verify-otp-bg {
  min-height: 100vh;
  background: linear-gradient(to bottom, #261f32, #6e58c6);
  display: flex;
  justify-content: center;
}
.verify-otp-layout {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1.2fr 1.8fr;
}
.illustration {
  display: flex;
  align-items: end;
  position: relative;
  z-index: 1;
  margin-right: -100px;
}
.illustration img {
  width: 100%;
  max-width: 500px;
  margin-bottom: 20%;
}
.verify-otp-card {
  background: #261f32;
  /* border: 1.5px solid #cfff12; */
  padding: 10%;
  margin-top: 20%;
  margin-bottom: 20%;
  border-radius: 20px;
  color: #fff;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
}
.verify-otp-card h1 {
  font-size: 40px;
}
.verify-otp-card label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  font-size: 18px;
}

.verify-otp-card input {
  background: transparent;
  border: 1.5px solid #6e58c6;
  border-radius: 14px;
  padding: 14px;
  color: #fff;
  font-size: 14px;
}

.verify-otp-card input::placeholder {
  color: #a5a5a8;
}

.verify-otp-card input:focus {
  outline: none;
}

.button-container {
  display: flex;
  justify-content: right;
}
.verify-otp-card button {
  width: 40%;
  padding: 14px;
  font-size: 16px;
  border: none;
  border-radius: 16px;
  background: #c8e261;
  color: #261f32;
  cursor: pointer;
}
.error-container{
  display:flex;
  justify-content: right;
}
.error{
  color: red;
  margin-left : 30px;
}
p{
    color : #a5a5a8;
}
.otp {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-bottom : 30px;
}

.otp-box {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  border: 1.5px solid #d7dbe7;
  background: #fff;
  text-align: center;
  font-size: 18px;
  outline: none;
}

.otp-box:focus {
  border-color: #6e58c6;
  box-shadow: 0 0 0 4px rgba(110, 88, 198, 0.15);
} 
