<body>
  <div class="register-bg">
    <div class="register-card">
      <h1>Register</h1>
      <div class="register-layout">
        <div>
          <label>
            Email
            <input type="text" placeholder="Enter your email" />
          </label>
          <label>
            Password
            <input type="password" placeholder="Enter your password" />
          </label>
          <a class="forgot" href="#">Forgot password</a>
          <label>
            Confirm password
            <input type="password" placeholder="Confirm your password" />
          </label>
          <div class="illustration">
            <img src="/illustrations/illustration_2.png" alt="illustration" />
          </div>
        </div>
        <div>
          <label>
            Name
            <input type="text" placeholder="Enter your name" />
          </label>
          <label>
            Last name
            <input type="text" placeholder="Enter your last name" />
          </label>
          <label>
            Address
            <input type="text" placeholder="Enter your address" />
          </label>
          <label>
            Phone number
            <input type="text" placeholder="Enter your phone number" />
          </label>
          <label>
            Add profile photo
            <div class="add-photo-icon">
              <img src="/icons/add-photo-icon.png" alt="add-photo-icon" />
              <p>Drop your image here or <a class="browse" href="#"> browse</a></p>
            </div>
          </label>
          <div class="button-container">
            <button>Register</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
