* {
    font-family: 'Montserrat', sans-serif;
}

.title {
    color: #C5B6FF; 
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 2.8rem;
    max-width: fit-content;
}

.text-button {
    background-color: #C8E261; 
    color: #261F32;
    width: fit-content;
    padding: 15px 45px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    text-align: center;
}

.text-button:hover {
    background-color: #b3cc6d;
    transform: scale(1.05);
}

.main-page-wrapper {
    display: flex;
    flex-direction: row; 
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.display-info-container {
    background-color: #261F32;
    padding: 5rem 3rem;
    flex: 0 0 40%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}
.map-side-container {
    flex: 0 0 60%;
    height: 100vh;
    position: relative;
}
app-map {
    width: 100%;
    height: 100%;
}
.text-white {
    color: #E8EDFC;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 3rem;
    font-weight: 300;
    opacity: 0.9;
}