* {
    font-family: 'Montserrat', sans-serif;
}
.display-info-container {
    background-color: #261F32;
    padding: 5rem 3rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
}

.title {
    color: #C5B6FF; 
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 2.8rem;
    max-width: fit-content;
}

.text-white {
    color: #E8EDFC;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 3rem;
    font-weight: 300;
    opacity: 0.9;
    padding-right: 40rem;
}

.text-button {
    background-color: #C8E261; 
    color: #261F32;
    width: fit-content;
    padding: 15px 45px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    text-align: center;
}

.text-button:hover {
    background-color: #b3cc6d;
    transform: scale(1.05);
}